/*========== Coming Soon Background Image =========*/
/* line 2, E:/domains/your-time.dev/app-assets/scss/pages/coming-soon.scss */
.comingsoonVideo .app-content .coming-soon-content {
  z-index: 99; }

/* line 5, E:/domains/your-time.dev/app-assets/scss/pages/coming-soon.scss */
.clockCard {
  float: left;
  border-radius: .50rem; }

/* line 10, E:/domains/your-time.dev/app-assets/scss/pages/coming-soon.scss */
.comingsoonOne {
  background-image: url(../../../app-assets/images/backgrounds/bg-12.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

/* line 16, E:/domains/your-time.dev/app-assets/scss/pages/coming-soon.scss */
.getting-started {
  font-size: 2.4rem;
  border-radius: 60px;
  min-width: 360px; }

/* line 22, E:/domains/your-time.dev/app-assets/scss/pages/coming-soon.scss */
.countdownFormat {
  font-size: 16px;
  padding-bottom: 0px; }

/* line 27, E:/domains/your-time.dev/app-assets/scss/pages/coming-soon.scss */
.socialIcon i {
  font-size: 28px;
  padding: 5px; }

/*========== Coming Soon Flat Design =========*/
/* line 34, E:/domains/your-time.dev/app-assets/scss/pages/coming-soon.scss */
.clockFormat {
  border-radius: 60px; }

/* line 38, E:/domains/your-time.dev/app-assets/scss/pages/coming-soon.scss */
.comingsoonFlat {
  background-image: url(../../../app-assets/images/backgrounds/bg-14.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
