/* line 1, E:/domains/your-time.dev/app-assets/scss/pages/under-maintenance.scss */
.bg-maintenance-image {
  background-image: url(../../../app-assets/images/backgrounds/bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
